.my_side_bar {
  padding-left: 25%;
  position: relative;
  background-color: #f4f4f4;
}

.link_side_bar {
  color: #022334;
  font-weight: 400;
  font-size: medium;
  text-decoration: none;
}

.link_side_bar:hover {
  background-color: #dcdee1;
  color: #022334;
  border-radius: 4px;
}

a.link_side_bar:focus {
  background-color: #022334 !important;
  color: white !important;
  text-decoration-color: white !important;
  border-radius: 2% !important;
}

.link_side_bar_header {
  color: #022334 !important;
  font-weight: bold !important;
  font-size: 13px !important;
  border: none !important;
  border-bottom: 1px solid grey !important;
  background-color: #f4f4f4 !important;
}
