<div class="card mx-1 my-2">
  <img variant="top" src="{{ course_item.img_src }}" />
  <div class="card-body">
    <div class="card-text">
      <div class="row">
        <div
          class="
            col col-xl-9 col-lg-6 col-md-7 col-sm-8 col-xs-9
            d-flex
            justify-content-start
          "
          style="font-size: 13px; font-weight: bold"
        >
          {{ course_item.no_of_students }}
        </div>
        <div
          class="
            col col-xl-3 col-lg-6 col-md-5 col-sm-4 col-xs-3
            d-flex
            justify-content-start
          "
          style="font-size: 13px; font-weight: bold"
        >
          {{ course_item.time }}
        </div>
      </div>
    </div>
    <div class="card-title">
      {{ course_item.title }}
    </div>
  </div>
  <div
    class="card-footer bg-white"
    style="border: none; background-color: white"
  >
    <div class="row">
      <div class="col col-lg-10 col-md-8 col-sm-8 col-xs-10">
        {{ course_item.person_name }}
      </div>
      <div
        class="
          col col-lg-2 col-md-4 col-sm-4 col-xs-2
          d-flex
          justify-content-end
        "
      >
        <img src="assets/whishlist_icon.PNG" />
      </div>
    </div>
  </div>
</div>
