<nav
  class="
    color-nav
    d-lg-block d-xl-none d-md-block
    navbar navbar-expand-xl
    sticky-top
    navbar-light
  "
  style="background-color: #022334"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-lg-2 col-md-3 col-sm-2">
      <img src="assets/search_icon.PNG" class="" />
    </div>
    <div class="d-flex justify-content-end col-lg-4 col-md-4 col-sm-4">
      <span class="navbar-brand">
        <img
          src="assets/logo_new.PNG"
          width="130px"
          height="45px"
          class="d-inline-block align-top"
          alt="skill share logo"
        />
      </span>
    </div>
    <div class="d-flex justify-content-end col-lg-4 col-md-4 col-sm-4">
      <button type="button" class="my_md_btn">Sign In</button>
    </div>
  </div>
</nav>
<div class="d-lg-none d-md-block nav-item dropdown">
  <a
    id="navbarScrollingDropdown2"
    aria-expanded="false"
    role="button"
    class="dropdown-toggle nav-link"
    tabindex="0"
  >
    <span class="my-auto">Online Animation Classes</span>
  </a>
</div>
<nav
  class="color-nav d-none d-xl-block navbar navbar-expand-md sticky-top"
  style="background-color: #022334"
>
  <div class="container-fluid">
    <div class="col-xl-1">
      <span class="navbar-brand"
        ><img
          src="assets/logo_new.PNG"
          width="150px"
          height="70px"
          class="d-inline-block align-top"
          alt="skill share logo"
        />
      </span>
    </div>
    <button
      type="button"
      aria-label="Toggle navigation"
      class="navbar-toggler collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-xl-12">
      <div class="row">
        <div class="navbar-collapse collapse">
          <div class="col-xl-1">
            <div class="nav-item dropdown">
              <a
                id="navbarScrollingDropdown"
                aria-expanded="false"
                role="button"
                class="dropdown-toggle nav-link"
                tabindex="0"
              >
                <span class="my-auto">Browse</span>
              </a>
            </div>
          </div>
          <div class="col-xl-7">
            <form class="d-flex">
              <input
                placeholder="What do you want to learn today?"
                aria-label="Search"
                type="search"
                class="me-2 my_search form-control"
                style="background-image: url(assets/search_icon.PNG)"
              />
            </form>
          </div>
          <div class="d-flex justify-content-end col-xl-1">
            <a href="#Premium" class="links_nav_bar"> Go Premium </a>
          </div>
          <div class="d-flex justify-content-end col-xl-1">
            <a href="#Signin" class="links_nav_bar"> Sign In</a>
          </div>
          <div class="d-flex justify-content-end col-xl-1">
            <a href="#Signup">
              <button type="button" class="my_button">Sign Up</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
