.view_btn {
  background-color: transparent;
  border: 1px solid #002333;
  color: #002333;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: gt walsheim pro, sans-serif;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  height: 28px;
  line-height: 26px;
  min-width: 64px;
  font-size: 13px;
}

.view_btn:hover {
  background-color: #022334;
  color: white;
  border: 1px solid #022334;
}
