.card_links {
  text-decoration: none;
  color: #022334;
  font-size: larger;
  font-weight: bold;
}

.card_links:hover {
  color: #022334;
}

.card-text {
  color: #022334;
}

h5 {
  color: #022334;
}

.card {
  border-radius: 8px;
  border-width: thin;
}

.card:hover {
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15) !important;
}

.play {
  position: absolute;
  display: none;
  top: 40%;
  width: 40px;
  margin: 0 auto;
  left: 0px;
  right: 54%;
  z-index: 100;
}

.my_img {
  border-radius: 8px 0px 0px 8px;
}
.card:hover .play {
  display: block;
}
