.main_panel {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: #f4f4f4 !important;
}

body {
  background-color: #f4f4f4 !important;
}
.my_banner {
  border: none !important;
  height: 247px !important;
  width: 100% !important;
  filter: contrast(100%) !important;
  opacity: 1.5;
  filter: grayscale(30%) !important;
  border-radius: 8px !important;
}

.text1_on_banner {
  font-weight: bold !important;
  font-size: 36px !important;
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  line-height: 1.22 !important;
}

.text2_on_banner {
  font-weight: 400 !important;
  font-size: 15px !important;
  font-family: "GT Walsheim Pro", Arial, sans-serif !important;
  line-height: 1.33 !important;
}

.button_on_banner {
  padding: 10px 20px 10px 20px !important;
  display: block !important;
  position: absolute !important;
  left: 80px !important;
  top: 150px !important;
  background-color: #01ff84 !important;
  border: 1px solid #01ff84 !important;
  border-radius: 6px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}
.button_on_banner:hover {
  background-color: rgb(79, 216, 79) !important;
}

.see_all_btn {
  background-color: transparent;
  border: 1px solid #002333;
  color: #002333;
  text-decoration: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: gt walsheim pro, sans-serif;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  height: fit-content;
  line-height: 26px;
  width: fit-content;
  font-size: 13px;
}

.see_all_btn:hover {
  background-color: #022334;
  color: white;
  border: 1px solid #022334;
}

.card-img-overlay {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}
