<div class="container-fluid mt-5 mb-4">
  <div class="card bg-light text-white">
    <img
      src="https://static.skillshare.com/cdn-cgi/image/quality=80,width=1000,format=auto/assets/images/browse/browse-banner-3.webp"
      class="my_banner"
      alt="Card image"
    />

    <div class="card-img-overlay">
      <div class="card-title text1_on_banner d-none d-lg-block">
        Online Animation Classes
      </div>

      <div class="card-text text2_on_banner">
        Find what fascinates you as you explore these animation classes.
      </div>
      <button class="button_on_banner">Get Started for Free</button>
    </div>
  </div>
</div>
