<div class="container mt-5 mb-4">
  <div class="card bg-light text-white">
    <img src="/assets/banner.png" class="my_banner" alt="Card image" />

    <div class="card-img-overlay">
      <div class="card-title text1_on_banner d-none d-lg-block">
        Online Animation Classes
      </div>

      <div class="card-text text2_on_banner">
        Find what fascinates you as you explore these animation classes.
      </div>
      <button class="button_on_banner">Get Started for Free</button>
    </div>
  </div>
</div>
<app-relatedskills [skills]="skills_data"></app-relatedskills>
<app-courses></app-courses>

<div class="container">
  <div class="row d-flex justify-content-center my-4">
    <button
      class="see_all_btn"
      style="margin: 50px; padding-left: 20px; padding-right: 20px"
    >
      See All
    </button>
  </div>
  <div class="row d-flex my-5">
    <h2 style="color: #022334">Explore Animation Classes Online</h2>
    <p style="color: #022334">
      Take the next step on your animation journey. With these Skillshare
      classes, you can learn how to use animation software like After Effects
      and Looom to set your ideas in motion. Whether you’re looking for
      animation classes for beginners, or you’re already an animation
      professional, you can take your skills to the next level with online
      classes in 2D animation, 3D animation, character animation, motion
      graphics, logo animation, looping animated GIFs, and more, taught by the
      world’s best animators. Want to dive in deeper with the principles and
      techniques taught in these online animation classes? Work along with other
      Skillshare members by taking an animation workshop, where you’ll get
      hands-on experience by completing and sharing your own animation projects.
    </p>
  </div>
</div>
